.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orangered;
    width: 50%;
    border-radius: 10px;
    margin: 40px auto
}
.calc{
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 50%;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
}
label{
    font-weight: bold;
}
